<div ng-controller="SubjectController">

	<!--header-->
	<div class="breadcrumbh" id="breadcrumbh">
    	<div class="row topmargin-b">
        	<div class="col-md-2 col-md-offset-1 page-head">
            	Resources
            </div>
            <div class="col-md-8 b-head">
            	<a data-ui-sref="home">Home</a> / {{subject}} / Resources
            </div>
    	</div>
    </div>
   
   
   <div class="container head about-sub">
    	Learn More
    </div>
    
    <!--show based on url and subject -->
    <!--category and subcategories with links-->
    
    <!--Cells-->
    <div ng-show="subject == 'Cells'">
    
    <div class="container head res-sub">
    		Cells (general)
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.nature.com/scitable/topicpage/eukaryotic-cells-14023963">Eukaryotic Cells</a>
            <br><br>
            <a href="http://www.biology4kids.com/files/cell_mito.html">Cell Structure: Mitochondria</a>
            <br><br>
            <a href="http://www.biology.arizona.edu/cell_bio/tutorials/pev/page2.html">Prokaryotes, Eukaryotes, & Viruses</a>
            <br><br>
            <a href="http://www.cellsalive.com/cells/bactcell.htm">Bacterial Cell</a>
            <br><br>
            <a href="http://biology.about.com/od/cellanatomy/ss/prokaryotes.htm">Prokaryotes</a>
            <br><br>
        </div>

    	<div class="container head res-sub">
    		Cell Structures and Organelles
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.biologyjunction.com/cell_functions.htm">Cell Functions</a>
            <br><br>
            <a href="http://www.windows2universe.org/earth/Life/cell_organelles.html">Cell Organelles</a>
            <br><br>
            <a href="http://utahscience.oremjr.alpine.k12.ut.us/sciber00/7th/cells/sciber/orgtable.htm">Cell Organelle Table</a>
            <br><br>
            <a href="http://www.cellsalive.com/cells/cell_model.htm">Eukaryotic Organelles</a>
            <br><br>
        </div>
        
   </div>

    <!--Chemistry and Biochemistry-->
    <div ng-show="subject == 'Chemistry & Biochemistry'">
    
    
    <div class="container head res-sub">
    		Bonds
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="https://www.khanacademy.org/science/chemistry/chemical-bonds">Chemical Bonds</a>
            <br><br>
            <a href="http://www.chem.wisc.edu/deptfiles/genchem/sstutorial/Text7/Tx71/tx71.html">The Chemical Bond</a>
            <br><br>
        </div>
    
    
    


    
    	<div class="container head res-sub">
    		Cell Respiration
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.diffen.com/difference/Aerobic_Respiration_vs_Anaerobic_Respiration">Aerobic vs. Anaerobic Respiration</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Chemistry, Molecules & Macromolecules
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.dummies.com/how-to/content/four-groups-of-macromolecules.html">Macromolecules</a>
            <br><br>
            <a href="
http://www.oxoid.com/uk/blue/techsupport/its.asp?itsp=faq&faq=tsfaq010&cat=culture+media%2C+supplements+and+raw+materials&lang=EN&c=UK">Formulation of Culture Media</a>
            <br><br>
        </div>
        
		<div class="container head res-sub">
    		DNA Structure & Function
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.nature.com/scitable/topicpage/dna-is-a-structure-that-encodes-biological-6493050">DNA</a>
            <br><br>
            <a href="http://www.yourgenome.org/facts/what-is-dna-replication">What is DNA Replication?</a>
            <br><br>
            <a href="http://www.nature.com/scitable/definition/dna-polymerase-dnap-1">DNA Polymerase</a>
            <br><br>
        </div>
        
       <div class="container head res-sub">
    		Enzymes & Reactions
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://eol.org/pages/974560/overview">Thermus aquaticus</a>
            <br><br>
        </div>
        
        
        <div class="container head res-sub">
    		Periodic Table
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.ptable.com/">The Periodic Table</a>
            <br><br>
            <a href="http://www.scientificamerican.com/article/chemistry-the-elements-revealed-interactive-periodic-table/">Interactive Periodic Table</a>
            <br><br>
        </div>
        
		<div class="container head res-sub">
    		Protein Structure & Function
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.nature.com/scitable/definition/translation-rna-translation-173">Translation RNA</a>
            <br><br>
            <a href="http://www.nobelprize.org/educational/medicine/dna/a/translation/index.html">Translation</a>
            <br><br>
            <a href="http://www.nature.com/scitable/topicpage/protein-structure-14122136">Protein Structure</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Reaction Rates
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.chem4kids.com/files/react_rates.html">Reaction Rates</a>
            <br><br>
            <a href="http://www.chemguide.co.uk/physical/basicratesmenu.html">Basic Reaction Rates</a>
            <br><br>
            <a href="http://www.biology.arizona.edu/biochemistry/problem_sets/energy_enzymes_catalysis/01t.html">Energy, Enzymes, and Catalysis</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Transcription
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://scienceprimer.com/nucleotide-base-pairing">Nucleotide Base Pairing</a>
            <br><br>
            <a href="https://www.dnalc.org/resources/3d/12-transcription-basic.html">Basic Transcription</a>
            <br><br>
            <a href="https://www.dnalc.org/resources/3d/13-transcription-advanced.html">Transcription (Advanced)</a>
            <br><br>
        </div>
        
		<div class="container head res-sub">
    		Translation (Gene Expression)
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.nature.com/scitable/topicpage/translation-dna-to-mrna-to-protein-393">Translation: DNA to mRNA to Protein</a>
            <br><br>
            <a href="https://www.dnalc.org/resources/3d/13-transcription-advanced.html">Transcription (Advanced)</a>
            <br><br>
            <a href="http://www.hhmi.org/biointeractive/dna-transcription-advanced-detail">DNA Transcription (Advanced)</a>
            <br><br>
            <a href="http://www.johnkyrk.com/DNAtranscription.html">DNA Transcription</a>
            <br><br>
        </div>
        

   </div>
   
       <!--Genetics-->
    <div ng-show="subject == 'Genetics'">

    <div class="container head res-sub">
    		Genomics
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="https://www.genome.gov/18016863">DNA, Genes and Genomes</a>
            <br><br>
            <a href="http://www.whygenomics.ca/what-is-genomics">What is Genomics?</a>
            <br><br>
        </div>
    
    	<div class="container head res-sub">
    		Mitosis & Chromosomes
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.nature.com/scitable/topicpage/mitosis-and-cell-division-205">Mitosis and Cell Division</a>
            <br><br>
            <a href="http://vlab.amrita.edu/?sub=3&brch=188&sim=1102&cnt=1">Mitosis in Onion Root Tips</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Meiosis
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.johnkyrk.com/meiosis.html">Meiosis</a>
            <br><br>
            <a href="http://www.nature.com/scitable/topicpage/dna-is-constantly-changing-through-the-process-6524876">Recombination</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Ploidy
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.biology.arizona.edu/cell_bio/tutorials/meiosis/page2.html">Meiosis Tutorial</a>
            <br><br>
            <a href="https://www.boundless.com/biology/textbooks/boundless-biology-textbook/meiosis-and-sexual-reproduction-11/the-process-of-meiosis-92/comparing-meiosis-and-mitosis-406-11633/">Comparing Meiosis and Mitosis</a>
            <br><br>
        </div>
        
   </div>
   
          <!--lab skills and applications-->
    <div ng-show="subject == 'Laboratory Skills and Applications'">
    
    <div class="container head res-sub">
    		Cell & Tissue Culture
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="https://www.youtube.com/watch?v=bi755vQVNx8">Plant tissue culture basics</a>
            <br><br>
             <a href="https://www.thermofisher.com/us/en/home/references/gibco-cell-culture-basics/introduction-to-cell-culture.html">Introduction to Cell Culture</a>
            <br><br>
             <a href="https://www.coriell.org/research-services/cell-culture/what-is-cell-culture">What is Cell Culture?</a>
            <br><br>
             <a href="https://moodle.kent.ac.uk/external/mod/book/view.php?id=2604&chapterid=160">Biotechnology and Cell Culture</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Correct Use of Decimals
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.mathgoodies.com/lessons/decimals/introduction.html
">Introduction to Decimals</a>
            <br><br>
            <a href="http://www.aaamath.com/dec71ix2.htm">Decimals to Scientific Notation</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		DNA Isolation
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://learn.genetics.utah.edu/content/labs/extraction/">DNA Extraction</a>
            <br><br>
            <a href="http://learn.genetics.utah.edu/content/labs/extraction/howto/">DNA Extraction (How To)</a>
            <br><br>
            <a href="http://www.whatisbiotechnology.org/science/extraction">DNA Extraction</a>
            <br><br>
            <a href="http://serc.carleton.edu/microbelife/research_methods/genomics/dnaext.html">DNA Extraction</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Electrophoresis
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://learn.genetics.utah.edu/content/labs/gel/">Gel Electrophoresis</a>
            <br><br>
            <a href="https://www.dnalc.org/resources/animations/gelelectrophoresis.html">Gel Electrophoresis (Animation)</a>
            <br><br>
            <a href="http://www.sumanasinc.com/webcontent/animations/content/gelelectrophoresis.html">Gel Electrophoresis</a>
            <br><br>
            <a href="http://www.nature.com/scitable/definition/gel-electrophoresis-286">Gel Electrophoresis)</a>
            <br><br>
            <a href="http://www.bio-rad.com/en-us/applications-technologies/protein-electrophoresis-methods">Protein Electrophoresis Methods</a>
            <br><br>
            <a href="http://www.bio.davidson.edu/courses/genomics/method/sdspage/sdspage.html">SDS-PAGE (PolyAcrylamide Gel Electrophoresis)</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Microscopy
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://zeiss-campus.magnet.fsu.edu/articles/basics/introduction.html">Introduction to Microscopy</a>
            <br><br>
            <a href="http://www.olympusfluoview.com/theory/confocalintro.html">Introduction to Confocal Microscopy</a>
            <br><br>
        </div>



    	<div class="container head res-sub">
    		pH
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://chemcollective.org/activities/tutorials/buffers/buffers1">pH and Buffers</a>
            <br><br>
            <a href="https://phet.colorado.edu/sims/html/ph-scale-basics/latest/ph-scale-basics_en.html">pH Scale Basics</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Polymerase Chain Reaction (PCR)
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://eol.org/pages/974560/overview">Thermus aquaticus</a>
            <br><br>
            <p>If the annealing temperature is too low, primers may bind nonspecifically to the template. The rule of thumb is to use an annealing temperature that is 5°C lower than the Tm of the primer. To calculate the primer Tm, use the tool at <a href="http://www.basic.northwestern.edu/biotools/oligocalc.html"> http://www.basic.northwestern.edu/biotools/oligocalc.html</a> with the default salt concentration and 0.2–1 μM primer (depending on your reaction conditions). Use the lowest primer Tm when calculating the annealing temperature. For greater accuracy, optimize the annealing temperature by using a thermal gradient.</p>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Recombinant DNA/Cloning
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://users.rcn.com/jkimball.ma.ultranet/BiologyPages/R/RecombinantDNA.html">Recombinant DNA</a>
            <br><br>
            <a href="http://www.ucsusa.org/food_and_agriculture/our-failing-food-system/genetic-engineering/what-is-genetic-engineering.html#.Vg7aLPlVhBc">What is Genetic Engineering?</a>
            <br><br>
            <a href="http://www.geogene.com/genetic-eng-basics.html">What is Genetic Engineering? (Basics)</a>
            <br><br>
            <a href="
http://learn.genetics.utah.edu/content/cloning/"> Cloning</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Restriction Enzymes
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="https://www.dnalc.org/resources/animations/restriction.html">DNA Restriction</a>
            <br><br>
            <a href="http://www.vivo.colostate.edu/hbooks/genetics/biotech/enzymes/renzymes.html">Restriction Enzymes</a>
            <br><br>
            <a href="http://www.nature.com/scitable/topicpage/restriction-enzymes-545">Restriction Enzymes</a>
            <br><br>
            <a href="http://www.bio.miami.edu/dana/dox/restrictionenzymes.html">What is a Restriction Enzyme?</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Scientific Notation
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.chem.tamu.edu/class/fyp/mathrev/mr-scnot.html">Scientific Notation</a>
            <br><br>
            <a href="https://www.khanacademy.org/math/pre-algebra/exponents-radicals/scientific-notation/v/scientific-notation">Scientific Notation Examples</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Significant Figures
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="https://www.khanacademy.org/math/arithmetic/decimals/significant_figures_tutorial/v/significant-figures">Significant Figures</a>
            <br><br>
            <a href="http://www.chem.sc.edu/faculty/morgan/resources/sigfigs/">Use of Significant Figures</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Southern Blotting
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="https://askabiologist.asu.edu/southern-blotting">Southern Blotting</a>
            <br><br>
            <a href="https://www.thermofisher.com/us/en/home/life-science/dna-rna-purification-analysis/nucleic-acid-gel-electrophoresis/southern-blotting.html">Southern Blot Analysis</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Transformation & Transfection
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="https://www.boundless.com/microbiology/textbooks/boundless-microbiology-textbook/microbial-genetics-7/genetic-transfer-in-prokaryotes-81/bacterial-transformation-442-6842/">Bacterial Transformation</a>
            <br><br>
            <a href="https://www.neb.com/applications/cloning-and-synthetic-biology/transformation">Transformation</a>
            <br><br>
            <a href="https://www.dnalc.org/resources/animations/transformation1.html">DNA Transformation</a>
            <br><br>
            <a href="https://www.youtube.com/watch?v=exk0YOAZ560">Transformation vs. Transfection</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Western Blotting & ELISA
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="https://askabiologist.asu.edu/sds-page">SDS-PAGE</a>
            <br><br>
            <a href="http://bitesizebio.com/580/how-sds-page-works/">How SDS-PAGE Works</a>
            <br><br>
            <a href="https://www.thermofisher.com/us/en/home/life-science/protein-biology/protein-biology-learning-center/protein-biology-resource-library/pierce-protein-methods/overview-western-blotting.html">Overview of Western Blotting</a>
            <br><br>
            <a href="
https://www.thermofisher.com/us/en/home/life-science/protein-biology/protein-biology-learning-center/protein-biology-resource-library/pierce-protein-methods/overview-elisa.html">Overview of ELISA</a>
            <br><br>
        </div>
        
   </div>
   
       <!--research and sci method-->
    <div ng-show="subject == 'Research and Scientific Method'">
    
    <div class="container head res-sub">
    		Experimental Design
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="https://explorable.com/experimental-research"> Experimental Research</a>
            <br><br>
        </div>
    
    	<div class="container head res-sub">
    		Understanding Scientific Method
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.sciencemadesimple.com/scientific_method.html">Understanding and Using the Scientific Method</a>
            <br><br>
            <a href="http://chemistry.about.com/od/chemistry101/a/lawtheory.htm">Scientific Hypothesis, Theory, Law Definitions</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Graphing
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="https://oelfke.wikispaces.hcpss.org/Graphing"> Graphing</a>
            <br><br>
            <a href="http://serc.carleton.edu/quantskills/methods/quantlit/basicgraph.html"> Basic Graphing Skills</a>
            <br><br>
        </div>
        
   </div>
   
         <!--general biotech-->
    <div ng-show="subject == 'General Topics'">
    
    <div class="container head res-sub">
    		Applications
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.biotechonweb.com/Applications-of-Biotech.html">Applications of Biotechnology</a>
            <br><br>
            <a href="http://biotechlearn.org.nz/themes/what_is_biotechnology/modern_biotechnology">Modern Biotechnology</a>
            <br><br>
            <a href="http://learn.genetics.utah.edu/content/genetherapy/">Gene Therapy</a>
            <br><br>
        </div>
        
      <div class="container head res-sub">
    		Applications
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://biotechlearn.org.nz/themes/what_is_biotechnology/impacts_of_biotechnology_on_society">Impacts of Biotechnology on Society</a>
            <br><br>
        </div>

    	<div class="container head res-sub">
    		Ethics
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.bioethics.msu.edu/what-is-bioethics">What is Bioethics?</a>
            <br><br>
            <a href="https://ncsu.edu/research/results/vol2/connect.html">Biotechnology and Society</a>
            <br><br>
            <a href="http://www.scu.edu/ethics/publications/submitted/mclean/biotechframework.html">Thinking Ethically About Human Biotechnology</a>
            <br><br>
            <a href="http://www.biotech.iastate.edu/bioethics-case-studies/">Bioethics Case Studies</a>
            <br><br>
        </div>
       
		<div class="container head res-sub">
    		Historical
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.bio.org/articles/history-biotechnology">History of Biotechnology</a>
            <br><br>
            <a href="https://www.biotech.wisc.edu/outreach/resources/biotechnology-story/history-of-biotechnology">History of Biotechnology</a>
            <br><br>
            <a href="http://biotechhistory.org/">Capturing the history of Biotechnology</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Immunology
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="https://www.khanacademy.org/science/biology/human-biology/immunology">Immunology</a>
            <br><br>
            <a href="http://theibdimmunologist.com/learning/basic-immunology">Basic Immunology</a>
            <br><br>
        </div>
        
        
        







        
       <div class="container head res-sub">
    		Manufacture of a Biopharmaceutical Product
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="https://www.wetfeet.com/articles/career-overview-pharmaceuticals">Career Overview: Pharmaceuticals</a>
            <br><br>
            <a href="http://www.fda.gov/Drugs/DevelopmentApprovalProcess/HowDrugsareDevelopedandApproved/default.htm">How Drugs are Developed and Approved</a>
            <br><br>
            <a href="http://www.gpo.gov/fdsys/pkg/CFR-2015-title21-vol4/pdf/CFR-2015-title21-vol4-sec211-188.pdf">CFR</a>
            <br><br>
            <a href="http://www.pharmaguideline.com/2014/07/requirements-for-good-documentation-practice-gdp.html">Requirements for Good Documentation practice</a>
            <br><br>
            <a href="http://theqapharm.blogspot.com/2011/08/thetop-ten-responsibilities-of.html">Responsibilities of the Pharmaceutical Quality Unit</a>
            <br><br>
            <a href="http://www.vault.com/industries-professions/industries/pharmaceuticals-and-biotechnology.aspx">Pharmaceuticals and Biotechnology</a>
            <br><br>
            <a href="http://www.discoverymanagementsolutions.com/the-organization-of-biopharmaceutical-rd/what-is-biopharmaceutical-rd/">What is Biopharmaceutical R&amp;D?</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Regulatory
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.fda.gov/Drugs/DevelopmentApprovalProcess/Manufacturing/ucm169105.htm">Facts About the Current Good Manufacturing Practices (CGMPs)</a>
            <br><br>
            <a href="http://www.archives.gov/federal-register/cfr/about.html">Regulations</a>
            <br><br>
        </div>
        
   </div>
   
    <!--preparing solutions-->
    <div ng-show="subject == 'Preparing Solutions'">
    
    	<div class="container head res-sub">
    		Proper Technique
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://labtutorials.org/2009/02/01/water-in-the-lab/">Water in the lab</a>
            <br><br>
            <a href="http://www.differencebetween.com/difference-between-agar-and-vs-agarose/">Agar vs. Agarose</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Volume/Volume Calculations
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.sciencecompany.com/Preparing-Chemical-Solutions.aspx">Preparing Chemical Solutions</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Weight/Volume Calculations
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.sciencecompany.com/Preparing-Chemical-Solutions.aspx">Preparing Chemical Solutions</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Molarity Calculations
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.chemteam.info/Solutions/Molarity.html">Molarity</a>
            <br><br>
            <a href="http://www.sciencecompany.com/Preparing-Chemical-Solutions.aspx">Preparing Chemical Solutions</a>
            <br><br>
            <a href="http://abacus.bates.edu/~ganderso/biology/resources/Calculating_final_concentrations_2012.pdf">Calculating Final Concentrations</a>
            <br><br>
            <a href="
http://dl.clackamas.edu/ch105-04/calculat.htm">Calculations Using Molarity</a>
            <br><br>
        </div>
        
        <div class="container head res-sub">
    		Dilutions
    	</div>
        <div class="container head con" style="padding-left: 70px">
            <a href="http://www.sciencecompany.com/Preparing-Chemical-Solutions.aspx">Preparing Chemical Solutions</a>
            <br><br>
        </div>
        
   </div>
   
   <!--link to quiz for specific subject -->
    
    <div class="container" align="center">
         <div class="btn btn-default about-ssub" ng-click="startQuiz()">
      	Go to Quiz!
     </div>
     </div>
    
<!--footer-->
<div class="text-center footer" style="margin-top: 100px;">&copy; Biotility, 2015.</div>

</div>
    